/*
 * Non-core developers can add temporary styles here.
 * Temporary styles to be validated and moved to respective SCSS files by core developers  
 */

// Media based variable value change
@include bp(768px,1024px) {
	body{
		// font-size: 18px;
	}	
}


body{
	font-family: "Myriad Pro";
	//font-size: em-calc(20px);
}

p{
	margin:0;
}

// Test style to be removed
.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer;
} 

.container{
	/*width: 1170px;	*/
}
 
.code pre, .code code {
    border-top: medium none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
} 

.col-md-9{
	margin-top: 25px;
}

.mis-docs-header {
    position: relative;
    padding: 30px 15px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: #6F5499;
    background-image: linear-gradient(to bottom, #563D7C 0px, #6F5499 100%);
    background-repeat: repeat-x;
} 

.bs-example-gray{
	background-color: $panel-gray-bg;
}
.bs-example-light-gray{
	background-color: $panel-gray-light-bg;
}