/*
 * Author: @YogeshG
 * Sass Structure inspired by : SMACSS
 * Refer CSS style guide for coding standards
 *
 *
 * TRIAL SCSS - FOR PREPROCESSOR TEST
 * COMPILED CSS SHOULD GO TO "ROOT/CSS" FOLDER
 * THEME CSS WILL BE CREATED AS AN OVERWRITE with variables and structures
 */

/* 
 * Variables related to structured file only
 * Not to be used for application
 */

/*
 * Application Variables
 */
// Text/Font sizes (To avoid overwrite on Bootstrap variables, "text" prefix is used)
$text-size-base: em-calc(13px) !default;
$text-size-large:         ceil(($text-size-base * 1.25)) !default; // ~16px
$text-size-small:         ceil(($text-size-base * 0.85)) !default; // ~11px

// Labels
$label-title-size: 15px;
$label-default-size: 14px;

// Text colors
$text-default: #fff; // white color

// Links 
$link-white: $text-default;
$link-off-white: #f4f4f6; // Pagination
$link-active: #a2a5ab; // Pagination, Generic links

// Pagination
$button-active-bg: #9ea1aa;
$button-disable-bg: #5a616b;

// Regular application buttons
$button-action-bg: #3e7da8;
$button-cancel-bg: #575d69;
$button-radius: 5px;

// Paddings
$button-padding-horizontal-base: 10px; 
$button-padding-vertical-base: 10px;
$input-padding-horizontal-base: 9px; 
$input-padding-vertical-base: 9px;

// Margins
$input-margin-left: 8px;

// Input boxes
$input-bg: #222731;
$input-text: #a2a5ab;
$input-border-radius: 5px;


// Media based variable value change. 
@include bp(768px,1024px) {
	body{
		// font-size: 18px;
	}	
}

