$textcolor: #36A1CF;
$CURSOR_DEFAULT: default;
$CURSOR_POINTER: pointer;
$sans-serif-font-family: Helvetica,Arial;
$medium-font-size: 13px;
$border-radius-container: 5px;
$btn-border-color: #999;
$calendar-font-color: #92989b;

/*colors*/
$color-disabled: #ccc;
$color-error: #ff0000;
$color-white: #fff;
$color-black: #000;
$color-border: #d5d6d8;
$color-shadow: #2b3035;
$color-selected-row: #da0404;
$color-link: #004966;
$color-border: #bbbdbf;
$color-button-background: #f8f8f9;
$color-body-background: #efefef;
$gray: #999;

$default-font-size: 12px;
$default-line-height: 1.5;
$stroke-width: 1.5px;

$button-gradient-bottom-color: #e1e1e1;
$button-gradient-top-color: #f5f5f5;

$gradient-bottom-bg-color: #d4d5d6;
$gradient-top-bg-color: #ffffff;  

$thead-bottom-bg-color: #a7a9ac;
$thead-top-bg-color: #e7e7e8;  

$color-report-content-border: #b0afb0;
$color-user-options-background: #61767e;
$color-user-otions-border: #505960;
$color-user-options-dropdown: #9fa4a8;

$modal-hyperlinks: #0088cc;
