/* base.scss */

@import 'reset';
@import 'mixins';
@import 'variables';

body {
  font: 100% $sans-serif-font-family;
  background-color: $color-body-background;
}

.box { 
	@include border-radius(15px);
	border: 5px solid red;
	height:200px;
	width:200px;
}
.center { 
@include border-radius(15px);
	border:5px solid red;
	width: 70%;
	height: auto;
	margin: 0 auto;
}
.centerContent {
	border:5px solid yellow;
	margin: 0 auto;
}

.button-large {
	@include blue-btn;
	height: 50px;
	width: 200px;
}

.button-medium {
	@include blue-btn;
	height: 50px;
	width: 200px;
}
a.myAnchor {
    color: blue;
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: purple;
    }
}